body {
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

#page {
    color: white;
}

#about-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#about p {
    text-indent: 2rem;
    text-align: justify;
    font-size: 1.1rem;
}

#about img {
    max-width: 100%;
    height: auto;
}