body {
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

#page {
    color: white;
}

#about-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#about {
    margin-top: 5rem;
}

#about img {
    max-width: 100%;
    height: auto;
}