body {
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

#page {
    color: white;
}

#download-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#title-icon {
    padding: .5em;
    padding-top: .7em;
    display: inline-block;
}

#title {
    display:inline-block;
    text-align: right;
}