body {
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

#page {
    color: white;
}

#download-title {
    padding-top: 1rem;
    padding-bottom: .7rem;
}

#title-icon {
    vertical-align: text-top !important;
}

#title {
    font-size: 1.5rem;
}

#downloads {
    margin-top: 2rem;
    display: flex;
}

#downloads i {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    font-size: 5rem;
}

#downloads strong {
    font-size: 1.5rem;
}

#downloads small {
    font-size: .8rem;
    display: block;
}

#other-downloads {
    display: inline-block;
    margin-top: 1rem;
}

#other-downloads strong {
    margin-right: 1rem;
    font-size: .85rem;
}

#other-downloads button {
    margin-inline: .1rem;
    margin-top: .2rem;
    font-size: .85rem;
}

#other-downloads .snap-store {
    text-align: left;
}

#cli td {
    padding-top: 1rem;
}