body {
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

p {
    text-indent: 2rem;
    text-align: justify;
}

#page {
    color: white;
}

#project-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}